# Introdução a Python

Neste notebook te ajudará a adquirir noções da linguagem Python.

### Hello World

Para imprimir textos, basta usar a função print()

In [ ]:
print("Hello World")

### Comentários

Linhas que iniciam com # são comentários. No Jupyter Notebook não ocorre, mas você pode comentar múltiplas linhas colocando elas entre '''.

In [ ]:
# Isto é um comentário

## Objetos em Python e seus tipos

Tudo em Python é um **objeto** e todo objeto em Python é de um **tipo**. Alguns dos tipos básicos são:

- **`int`** (inteiro)
  - `10`
  - `-3`
- **`float`** (float)
  - `7.41`
  - `-0.006`
- **`str`** (string; sequência de caracteres entre aspas simples, dupla ou tripla)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
- **`bool`** (boolean; valor binário que recebe true ou false)
  - `True`
  - `False`
- **`NoneType`** (um tipo especial que representa ausência de valor)
  - `None`
 
Use a função type() para verificar os tipos de cada objeto citado acima:

In [ ]:
type(None)

## Variáveis em Python

Em Python, uma **variável** é um nome que você especifica no seu código que mapeia um **objeto** particular ou um valor.

Definindo uma variável, nós podemos nos referir a coisas por nome que faz sentido para nós. 

Os nomes de variáveis só podem conter letras, underscores (`_`) ou números (não pode haver espaços, traços ou outros caracteres). Além disso, o nome de uma variável deve começar com uma letra ou underscore.

A atribuição de um objeto a uma variável se dá pelo sinal de "=".

### Exercício

Crie uma variável que receberá o seu nome, e uma outra variável que receberá a sua idade.

In [ ]:
nome = "meu nome"

## Operações básicas

No Python, existem diferentes tipos de  **operadores** que operam em diferentes valores. Alguns dos operadores básicos incluem:

- Operadores aritméticos
  - **`+`** (adição)
  - **`-`** (subtração)
  - **`*`** (multiplicação)
  - **`/`** (divisão)
  - **`%`** (módulo)
  - __`**`__ (expoente)
- Operadores de atribuição
  - **`=`** (atribuir um valor)
  - **`+=`** (adiciona e re-atribui; incrementar)
  - **`-=`** (retira e re-atribui; decrementar)
  - **`*=`** (multiplica e re-atribui)
- Operadores de comparação (retorna `True` ou `False`)
  - **`==`** (igual a)
  - **`!=`** (não igual a)
  - **`<`** (menor que)
  - **`<=`** (menor ou igual que)
  - **`>`** (maior que)
  - **`>=`** (maior ou igual a)

Quando múltiplos operadores são utilizados em uma expressão única, o **operador precedente** determina quais partes da expressão são avaliados em qual ordem. Operadores com precedência alta são avaliados primeiro. Operadores com a mesma precedência são avaliados da esquerda para direita.

- `()` parêntenses, for grouping
- `**` expoente
- `*`, `/` multiplicação e divisão
- `+`, `-` adição e subtração
- `==`, `!=`, `<`, `<=`, `>`, `>=` comparações

In [ ]:
# Atribuindo alguns valores a algumas variáveis
num1 = 10
num2 = -3
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

In [ ]:
# Adição
num1 + num2

In [ ]:
# Subtração
num2 - num3

In [ ]:
# Multiplicação
num3 * num4

In [ ]:
# Divisão
num4 / num5

In [ ]:
# Módulo
num5 % num6

In [ ]:
# Expoente
num5 ** num6

In [ ]:
# Incrementar variável existente
num7 += 4
num7

In [ ]:
# Decrementar variável existente
num6 -= 2
num6

In [ ]:
# Multiplicar e re-atribuir
num3 *= 5
num3

In [ ]:
# Atribuir o resultado de uma expressão a uma variável
num8 = num1 + num2 * num3
num8

In [ ]:
# As duas expressões abaixo são iguais entre eles?
num1 + num2 == num5

In [ ]:
# As duas expressões abaixo são diferentes entre eles?
num3 != num4

In [ ]:
# A primeira expressão é menor que a segunda expressão?
num5 < num6

In [ ]:
# Esta expressão é verdadeira?
5 > 3 > 1

In [ ]:
# Esta expressão é verdadeira?
5 > 3 < 4 == 3 + 1

In [ ]:
# Atribuir strings a algumas variáveis
simple_string1 = 'an example'
simple_string2 = "oranges "

In [ ]:
# Adição ou concatenação
simple_string1 + ' of using the + operator'

In [ ]:
# Note que a variável não foi modificado
simple_string1

In [ ]:
# Multiplicação
simple_string2 * 4

In [ ]:
# Este string não foi modificado
simple_string2

In [ ]:
# Estas duas expressões são iguais entre elas?
simple_string1 == simple_string2

In [ ]:
# Estas duas expressões são iguais entre elas?
simple_string1 == 'an example'

In [ ]:
# Adicionar (concatenar) e re-atribuir
simple_string1 += ' that re-assigned the original string'
simple_string1

In [ ]:
# Multiplicar e re-atribuir
simple_string2 *= 3
simple_string2

In [ ]:
# Nota: Operadores de subtração, divisão, e de decremento não se aplica a strings.

### Exercício

Escreva um código em Python que resolva uma expressão de segundo grau utilizando o teorema de Bhascara. Tente resolver esta função: x<sup>2</sup> + 12x – 13 = 0

Escreva um código em Python que consiga determinar se um número em uma variável é par ou ímpar.

## Contêiners básicos

> Nota: objetos **mutáveis** são aqueles que podem ser modificados após a sua criação e os objetos **imutáveis** não.

Contêiners são objetos que podem ser usados para agrupar outros objetos. Os tipos básicos de contêiners incluem:

- **`str`** (string: imutável; indexado por inteiros; cada item é armazenado na ordem que foi adicionado)
- **`list`** (lista: mutável; indexado por inteiros; cada item é armazenado na ordem que foi adicionado)
  - `[3, 5, 6, 3, 'dog', 'cat', False]`
- **`tuple`** (tupla: imutável; indexado por inteiros; cada item é armazenado na ordem que foi adicionado)
  - `(3, 5, 6, 3, 'dog', 'cat', False)`
- **`set`** (conjunto: mutável; não indexado; os itens NÃO são armazenados na ordem que foi adicionado; pode apenas conter objetos imutáveis; não contém objetos duplicados)
  - `{3, 5, 6, 3, 'dog', 'cat', False}`
- **`dict`** (dicionário: mutável; os pares chave-valor são indexados por chaves imutáveis; os itens NÃO são armazenados na ordem que foram adicionados)
  - `{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}`

Quando criar uma variável lista, tupla ou conjunto, utilize vírgulas (,) para separar os itens individuais. 

Quando criar um dicionário, utilize dois-pontos (:) para separar chaves dos valores e vírgulas (,) para separar os pares chave-valor.

Strings, listas, e tuplas são todos do **tipo sequência** e podem utilizar os operadores `+`, `*`, `+=`, e `*=`.

In [ ]:
# Atribuindo alguns contêiners para diferentes variáveis
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [ ]:
# Itens na lista são armazenados na ordem que foram adicionados.
list1

In [ ]:
# Itens na tupla são armazenados na ordem que foram adicionados.
tuple1

In [ ]:
# Itens no conjunto NÃO são armazenados na ordem que foram adicionados.
# Também note que o valor 3 aparece apenas uma vez neste conjunto.
set1

In [ ]:
# Itens no dicionário NÃO são armazenados na ordem que foram adicionados.
dict1

In [ ]:
# Adicionar e re-atribuir
list1 += [5, 'grapes']
list1

In [ ]:
# Adicionar e reatribuir
tuple1 += (5, 'grapes')
tuple1

In [ ]:
# Multiplicar
[1, 2, 3, 4] * 2

In [ ]:
# Multiplicar
(1, 2, 3, 4) * 3

## Acessando os dados nos contêiners

Para strings, listas, tuplas e dicionários, podemos usar a **notação subscrita** (colchetes) para acessar dados em um índice.

- strings, listas, and tuplas são indexadas por inteiros, **sendo o 0** o primeiro item:
  - Estes tipos de sequência também suportam acessar um intervalo de itens, conhecido como **slicing**;
  - utilize a **indexação negativa** para começar pelo último item da sequência
- dicionários são indexados por chaves.

> Nota: conjuntos não são indexados, portanto nós não podemos usar a notação subscrita para acessar os seus elementos.

In [ ]:
# Acessar o primeiro elemento da sequência
list1[0]

In [ ]:
# Acessar o último elemento da sequência
tuple1[-1]

In [ ]:
# Acessar um intervalo de intens na sequência
simple_string1[3:8]

In [ ]:
# Acessar um intervalo de intens na sequência
tuple1[:-3]

In [ ]:
# Acessar um intervalo de intens na sequência
list1[4:]

In [ ]:
# Acessar itens em um dicionário
dict1['name']

In [ ]:
# Acessar um elemento de uma sequência em um dicionário
dict1['fav_foods'][2]

### Exercício

Escreva um código em Python que armazene a sequência reversa da lista abaixo:

In [3]:
a = [5, 10, 15, 20, 25]
a[:-1]

[5, 10, 15, 20]